<!DOCTYPE html>
<html land ="en">

<head></head>
<body style="padding:50px;">
  <% include ./partials/_header %>

  <h3>Check out your tiny links!</h3>
  <!-- list of all shortened urls and links-->
    <a href = "/urls/new"><h4>Make More</h4></a>
    <table style = "width:80%" cellpadding="10">
      <tr>
        <th>Tiny URL</th>
        <th>Long URL</th>
        <th>Visitors</th>
        <th>Unique Visitors</th>
        <th>Date created</th>
        <th>Options</th>
      </tr>
    <!-- loop through all short urls in url database object -->
    <!-- short url, long url, edit, delete in list -->
    <% for (var key in urls) { %>
      <!-- method override, post action to delete -->
      <tr>
      <form method="POST" action= <%=`/urls/${key}/delete?_method=DELETE`%> >
        <th><a href = "/u/<%=key%>"><%= key %></a></th>
        <th><a href = "<%=urls[key].urlLong%>"><%= urls[key].urlLong %></a></th>
        <th><%= urls[key].visitors %> </th>
        <th><%= urls[key].uniqueVisitors %></th>
        <th><%= urls[key].timestamps[0] %></th>
        <th><a href = <%=`/urls/${key}`%>>Edit</a>
        <button type = "submit" value = "Delete">Delete</button></th>
      </form>
      <% } %>
      </tr>
    </table>
</body>
</html>