<!DOCTYPE html>
<html land ="en">
<head></head>

<body>
  <% include ./partials/_header %>
    <!-- display full URL with its shortened form-->

  <!-- form submits an updated long URL -->
  <form action= <%=`/urls/${shortURL}?_method=PUT`%> method="POST" style="margin:150px;">
    <h3> <%= urls[shortURL].urlLong %> <%= shortURL %></h3>
    <input type = "text" name = "updatedLongURL">
    <button type = "Submit" value = "Update">Update</button>
  </form>
  <% if (urls[shortURL].visitors) { %>
    <h5> Visitors: <%= urls[shortURL].visitors%> </h5>
  <% } %>
  <% if (urls[shortURL].visitors) { %>
    <h5> Unquie Visitors: <%= urls[shortURL].uniqueVisitors%> </h5>
  <% } %>

 <% for (let i = urls[shortURL].visitorID.length -1; i >= 0; i--) { %>
    <li>Visitor: <%= urls[shortURL].visitorID[i] %>> Time: <%= urls[shortURL].timestamps[i]%>> </li>
  <% } %>




</body>
</html>