<!DOCTYPE html>
<html land ="en">
<head></head>

<body style="padding:50px;">
  <% include ./partials/_header %>
  <h4><a href = "/urls">Links Dashboard</a></h4>
  <!-- form submits an updated long URL, method overides to put -->
  <form action= <%=`/urls/${shortURL}?_method=PUT`%> method="POST" style="margin:150px;">
    <!-- display full URL with its shortened form-->
    <h4> <a href = "<%=urls[shortURL].urlLong%>"><%= urls[shortURL].urlLong %></a> shortened to <a href = "/u/<%=shortURL%>"><%= shortURL %>!</a> </h4>
    <p><small>go ahead give it a try</small></p>
    <input type = "text" name = "updatedLongURL" placeholder="http://" style="width: 300px">
    <button type = "Submit" value = "Update" >Update</button>
  </form>
  <!-- Display analytics-->
  <h4>Your Tiny URL Analytics</h4>
  <p>Date Created: <%= urls[shortURL].timestamps[0] %></p>
  <p> Visitors: <%= urls[shortURL].visitors%> </p>
  <p> Unique Visitors: <%= urls[shortURL].uniqueVisitors%> </p>
  <p> Log:</p>
  <!-- loops through all visitors and show id and timestamp of visit -->
 <% for (let i = urls[shortURL].visitorID.length -1; i >= 0; i--) { %>
    <p><small>Visitor: <%= urls[shortURL].visitorID[i] %> Time: <%= urls[shortURL].timestamps[i+1]%></small></p>
  <% } %>
</body>
</html>